/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
html {
	font-family: "Roboto Flex", "Helvetica Neue", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* scroll-behavior: smooth; */
	/* ^ don't uncomment this as it bugs on Chrome */
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #111;
	color: #ccc;
	/* font-weight: 400; */
	line-height: 1.5;
	padding: 0;
}

section {
	padding-bottom: 60px;
}

h1,
h2,
h3,
h4 {
	font-family: "Roboto Serif", Times, serif;
	margin-left: auto; /* align center of screen */
	margin-right: auto; /* align center of screen */
	padding: 0.5em 0;
	text-align: center;
}

h1 {
	font-size: 2.5em;
	font-weight: 700;
	color: rgb(207, 75, 86);
	line-height: 1.5;
}

h2 {
	font-size: 1.75em;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	padding-top: 100px;
	padding-bottom: 50px;
}

h3 {
	font-size: 1.75em;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	line-height: 1.5;
}

p {
	font-size: 1.05em;
	font-weight: 500;
	text-align: left;
	margin: auto; /* align center of screen */
	padding: 1em 1em;
	max-width: 800px;
}

a {
	text-decoration: none;
	color: inherit;
}

.nav_menu > ul {
	z-index: 999;
}

.align-center {
	text-align: center;
}

.no-spacing {
	letter-spacing: normal;
}

.no-uppercase {
	text-transform: none;
}

.reduce-bottom {
	margin-bottom: -0.5em;
}

.button {
	border-radius: 8px;
	background-color: #000;
	border: 1px solid rgb(166, 166, 166);
	color: white;
	font-family: 'Source Code Pro', monospace;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 1em;
	padding: -0.5em;
	min-width: 160px;
	font-size: 85%;
	font-weight: 400;
}

img.img-screenshot {
	border-radius: 8px;
	margin-top: 3em;
	margin-bottom: 1.5em;
}

img.icon {
	margin: 1.5em;
}

img.app-store-badge {
	min-height: 40px;
	max-height: 25%;
	width: auto;
	margin: 1em;
}

/* BIG SCREEN IN LIGHT MODE */
@media screen and (min-width: 550px) and (prefers-color-scheme: light) {
	.nav_menu {
		position: fixed;
		width: 100%;
		z-index: 1; /* z-index to float on top of all other page elements */
		background-color: rgba(255, 255, 255, 0.75);
		/* glass blur transparent nav menu */
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
	}
	.nav_menu ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: space-evenly;
		-ms-flex-pack: space-evenly;
		justify-content: space-evenly;
		min-height: 40px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.13);
		box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.13);
	}

	.nav_menu ul li {
		list-style: none;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.nav_menu ul li a {
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-weight: 500;
		margin: 0.5em 0.25em;
		text-align: center;
	}

	.nav_menu ul li a#joe {
		color: white;
		font-weight: 700;
		border-radius: 8px;
		background-color: #000;
		display: inline-block;
		padding: 0.25em;
		min-width: 80px;
	}

	.nav_menu ul li a:hover,
	.nav_menu ul li a:focus {
		color: rgb(207, 75, 86);
	}

	#about,
	#projects,
	#contributions {
		background: #fff;
		color: #111;
	}

	img#hero-image {
		width: 20%;
		max-width: 150px;
		height: auto;
		margin-top: 100px;
		border-radius: 50%;
		border-collapse: separate;
	}

	img.img-screenshot {
		/* reduce screenshot size on big screens */
		width: 60%;
		height: auto;
	}

	img.icon {
		width: 55px;
		height: auto;
	}
}

/* BIG SCREEN IN DARK MODE */
@media screen and (min-width: 550px) and (prefers-color-scheme: dark) {
	.nav_menu {
		position: fixed;
		width: 100%;
		z-index: 1; /* z-index to float on top of all other page elements */
		background-color: rgba(
			51,
			51,
			51,
			0.75
		); /* stronger glass blur transparent nav menu */
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
	}
	.nav_menu ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: space-evenly;
		-ms-flex-pack: space-evenly;
		justify-content: space-evenly;
		min-height: 40px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
	}

	.nav_menu ul li {
		list-style: none;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		font-family: "Mulish", sans-serif;
	}
	.nav_menu ul li a {
		text-decoration: none;
		color: rgb(255, 255, 255);
		font-weight: 500;
		margin: 0.5em 0.25em;
		text-align: center;
	}

	.nav_menu ul li a#joe {
		color: black;
		font-weight: 700;
		border-radius: 8px;
		background-color: #fff;
		display: inline-block;
		padding: 0.25em;
		min-width: 80px;
	}

	.nav_menu ul li a:hover,
	.nav_menu ul li a:focus {
		color: rgb(207, 75, 86);
	}

	#about,
	#projects,
	#contributions {
		background: #111;
		color: #fff;
	}

	img#hero-image {
		width: 20%;
		max-width: 150px;
		height: auto;
		margin-top: 100px;
		border-radius: 50%;
		border-collapse: separate;
	}

	img.img-screenshot {
		/* reduce screenshot size on big screens */
		width: 60%;
		height: auto;
	}

	img.icon {
		width: 55px;
		height: auto;
	}
}

/* SMALL SCREEN IN LIGHT MODE */
@media screen and (max-width: 549px) and (prefers-color-scheme: light) {
	.nav_menu {
		font-family: "Roboto Flex", sans-serif;
		font-weight: 500;
		font-size: 90%;
	}

	.nav_menu #joe {
		color: white;
		font-weight: 700;
		border-radius: 8px;
		background-color: black;
		display: inline-block;
		padding: 0.25em;
		min-width: 50px;
	}
	.nav_menu ul {
		width: 100%;
		min-height: 50px;
		background-color: rgba(255, 255, 255, 0.75);
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
		position: fixed; /* no floating nav menu w/ smaller screens */
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex; /* css grid for small screen nav menu */
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: space-around;
		-ms-flex-pack: space-around;
		justify-content: space-around;
		align-items: center;
		/* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.13);
		box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.13);
	}
	.nav_menu ul li {
		list-style: none;
		text-align: center;
	}
	.nav_menu ul li a {
		text-decoration: none;
		color: rgb(0, 0, 0);
	}
	.nav_menu ul li a:hover,
	.nav_menu ul li a:focus {
		color: rgb(207, 75, 86);
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.25em;
	}

	p {
		width: 90%;
		margin: auto; /* align center of screen */
		padding: 1em 0;
		font-size: 1.125em;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	#about,
	#projects,
	#contributions {
		background: #fff;
		color: #111;
	}

	.button {
		max-width: 160px;
	}

	img#hero-image {
		width: 120px;
		height: auto;
		margin-top: 100px;
		border-radius: 50%;
	}

	img.img-screenshot {
		/* expand screenshot size on small screens */
		width: 90%;
		height: auto;
	}

	img.icon {
		width: 60px; /* tad bigger on small screens */
		height: auto;
	}
}

/* SMALL SCREEN IN DARK MODE */
@media screen and (max-width: 549px) and (prefers-color-scheme: dark) {
	.nav_menu {
		font-family: "Roboto Flex", sans-serif;
		font-weight: 500;
		font-size: 90%;
	}

	.nav_menu #joe {
		color: black;
		font-weight: 700;
		border-radius: 8px;
		background-color: white;
		display: inline-block;
		padding: 0.25em;
		min-width: 50px;
	}
	.nav_menu ul {
		width: 100%;
		min-height: 50px;
		background: rgba(51, 51, 51, 0.75);
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
		position: fixed; /* no floating nav menu w/ smaller screens */
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex; /* css grid for small screen nav menu */
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: space-around;
		-ms-flex-pack: space-around;
		justify-content: space-around;
		align-items: center;
		/* grid-template-columns: 1fr 1fr 1fr; */
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	}
	.nav_menu ul li {
		list-style: none;
		text-align: center;
	}
	.nav_menu ul li a {
		text-decoration: none;
		color: rgba(255, 255, 255, 0.75);
	}
	.nav_menu ul li a:hover,
	.nav_menu ul li a:focus {
		color: rgb(207, 75, 86);
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.25em;
	}

	p {
		width: 90%;
		margin: auto; /* align center of screen */
		padding: 1em 0;
		font-size: 1.125em;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	#about,
	#projects,
	#contributions {
		background: #111;
		color: #fff;
	}

	.button {
		max-width: 160px;
	}

	img#hero-image {
		width: 120px;
		height: auto;
		margin-top: 100px;
		border-radius: 50%;
	}

	img.img-screenshot {
		/* expand screenshot size on small screens */
		width: 90%;
		height: auto;
	}

	img.icon {
		width: 60px; /* tad bigger on small screens */
		height: auto;
	}
}

/* Each section styling */

#about h2 {
	padding-top: 0;
}

#about p a {
	text-decoration: none;
	margin-left: 12px;
	margin-right: 12px;
}

#about .icon {
	margin: 0.5em 0;
}

#contributions > ul > li {
	margin: auto; /* align center of screen */
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	max-width: 800px;
	list-style-position: inside;
}

#contributions > ul > li > a {
	text-transform: uppercase;
	font-weight: 700;
	color: rgb(207, 75, 86);
}

#contributions > ul > li > a > img.inline-app-icon {
	display: inline;
	height: 29px;
	perspective: 1px;
	border-radius: 5px;
	margin-right: 0.5em;
	vertical-align:middle;
}

footer {
	margin-bottom: 60px;
}

footer h4 {
	margin: 2em auto;
	font-size: 1em;
	text-transform: uppercase;
}

footer p,
footer ul li {
	text-align: center;
	font-size: 90%;
	line-height: 1.75;
}

footer p a,
footer ul li a {
	text-decoration: underline;
}
